# Environment variables
.env
.env.local
.env.development
.env.production

# Secrets
*.pem
*.key
*.crt

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# OS-specific
.DS_Store
Thumbs.db


# PORT=5000
# MONGO_URI=mongodb://localhost:27017/Coffee_Blend



# SESSION_SECRET=ajay-oauth-secret
# JWT_SECRET=a8b85a45c0a810368bf10e496395e90851fd87e9f7a5fa28a593a6bf64f04bf42465d5ec8b6d7671b8f857bab9f3781b2cc6c01fceb78e677fc3c1f90a5d0091 
# ESEWA_SECRET_KEY= "8gBm/:&EnhH.1/q"
# ESEWA_GATEWAY_URL = "https://rc-epay.esewa.com.np"
# ESEWA_PRODUCT_CODE = "EPAYTEST"
# BACKEND_URI = "http://localhost:3001"
# DB_URI = "mongodb://localhost:27017/Coffee_Blend"
# MONGO_URI = "mongodb://localhost:27017/Coffee_Blend"
# CLIENT_URL=http://localhost:5173
# EMAIL_USER="jajay7941@gmail.com"
# EMAIL_PASS=wtmo vkuu pqfn dmvg
# PORT=5000
# VITE_BACKEND_URL=http://localhost:3001
# VITE_ESEWA_GATEWAY=https://rc-epay.esewa.com.np
# VITE_ESEWA_PRODUCT_CODE=EPAYTEST

# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587

# EMAIL_USER="jajay7941@gmail.com"
# EMAIL_PASS=wtmo vkuu pqfn dmvg


# frontend 

# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587

# EMAIL_USER="jajay7941@gmail.com"
# EMAIL_PASS=wtmo vkuu pqfn dmvg